.git
.gitignore
.githooks
.env
**/.env
**/.env.local
**/.env.*.local

node_modules
**/node_modules
.aube
**/.aube
.svelte-kit
**/.svelte-kit
build
**/build
.vite
**/.vite
coverage
**/coverage
playwright-report
**/playwright-report
test-results
**/test-results
.data
**/.data
*.sqlite
*.sqlite-shm
*.sqlite-wal

.DS_Store
*.log
